* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    
}

body {
    background-color: #f6f8fc;
    padding: 0px;
    margin-bottom: -25px;
    overflow-x: hidden;
}

.content {
    width: 100%;
    height: 100dvh;
    padding: 1rem;
    background-color: #fff;

}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: 100vh;
        margin: auto;
    }
}


@media screen and (max-width: 500px) {
    .content {
        max-width: 992px;
        height: fit-content;
        margin: auto;
    }
    body {
        overflow: hidden;
    }
}